.DS_Store
.idea/encodings.xml
.idea/libraries/lib.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
javafx-sdk-11.0.2/*
MDP-Algorithm.iml
out/production/*
logs/*
images/*
tmp/*

# Gradle files
.gradle
.gradle/
build/
/build
/*/build/

# IDEA Files
.idea
/.idea/workspace.xml
/.idea/libraries
*.iml